table{
  margin:auto;
  border:2px solid black;
  height:300px;
  width:300px;
}
td{
  border:2px solid black;
  font-size: 36px;
  text-align:center;
  width:100px;
  height:100px;
}
#restart{
  margin:auto;
}
#turn{
  text-align:center;
  color:red;
}
